body {
  background-color: #6fd5d0;
  background-image: url("blobs.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
}
a {
  color: #885df1;
  cursor: pointer;
}

.weather-app {
  background-color: #fff;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  border-radius: 15px;
}

.search-form-input {
  background-color: #f9f7fe;
  border: 3px solid #5315ef2b;
  border-radius: 10px;
  width: 80%;
  padding: 15px 20px;
  font-size: 14px;
}

.search-form-button {
  background-color: #5315ef80;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  color: #000;
  font-family: "Poppins", sans-serif;
  margin-left: 5px;
  font-weight: 500;
  cursor: pointer;
}

.search-form-button:hover {
  background-color: #5315ef2b; /* Slightly darker on hover */
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 42px;
  line-height: 50px;
}

.weather-app-data {
  font-size: 16px;
  line-height: 20px;
}

.weather-app-details {
  font-size: 16px;
  color: #707070;
  line-height: 24px;
  font-weight: 500;
}

.weather-app-data-numbers {
  color: #da1667;
  font-weight: 700;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

.weather-app-temperature {
  font-size: 88px;
  font-weight: 700;
  margin-left: 10px;
  margin-top: 30px;
}

.weather-app-unit {
  font-size: 20px;
  margin-top: 10px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-day {
  border: solid 3px #5315ef2b;
  border-radius: 7px;
  padding: 5px;
  background: #f9f7fe;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.weather-forecast-day:hover {
  transform: translateY(-5px);
  border-color: #8661c1;
  box-shadow: 0 4px 8px rgba(134, 97, 193, 0.3);
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 80%);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  display: block;
  margin: 0 auto;
  width: 88px;
  height: 88px;
}

.weather-forecast-temperatures {
  display: flex;
  margin-top: 10px;
  text-align: center;
  color: #da1667;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 0 0 10px 0;
  font-size: 12px;
}
